<h1 id='title'>ADD A REVIEW!</h1>

<form method="POST" action="">
    
    Course Number: <input type="text" name="courseNumber"><br><br>
	
	Course Name: <input align='left' type="text" name="courseName"><br><br>
    Semester: <select name="semester">
        <option value="Fall">Fall</option>
        <option value="Spring">Spring</option>
    </select><br><br>
    Year: <input type="text" name="year"><br><br>
    Professor: <input type="text" name="professor"><br><br>
    Review: <input type="text" name="review"><br><br>
	<input type="submit">	
</form>