<h1 id='title'>ADD A REVIEW</h1>

<form method="POST" action="">

    <div id='hi'>
        Course Number: <input type="text" name="courseNumber"><br>	
    </div>
	
	Course Name: <input type="text" name="courseName"><br>
    Semester: <select name="semester">
        <option value="Fall">Fall</option>
        <option value="Spring">Spring</option>
    </select><br>
    Year: <input type="text" name="year"><br>
    Professor: <input type="text" name="professor"><br>
    Review: <input type="text" name="review"><br>
	<input type="submit">	
</form>