<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<title></title>
</head>
<header>Course Reviews</header>
<body>

	<div class='sidebar'>
		<a href='/'>All Reviews</a>
		<a href='/reviews/mine'>My Reviews</a>
		<a href='/reviews/add'>Add Review!</a>
		
	</div>

	

	<div id='body'>
		{{{body}}}
	</div>

</body>
</html>