* {
    margin: 0;
    padding: 0;
}

html {
    background: lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 100%;
    height: 200px;
    position: relative;
}
.header {
    width:100%;
    position: absolute;
    color: white;
    font-size: 80px;
    background-color: #1d4463;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pageVisits{
    float: right;
    width:20%;
    position: relative;
    color: white;
    font-size: 30px;
    background-color: #1d4463;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidebar {
    text-align: center;
    background-color: #4d95cb;
    width: 50%;
    font-weight: bold;
    top: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

a {
    font-size: large;
    padding: 10px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 80%;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}

#title {
    color: black;
    text-align: center;
    padding-top: 10px;
}

td {
    border: 1px solid darkgrey;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: lightgray
}

th {
    border: 1px solid darkgrey;
    color: white;
    background-color: #1d4463;
}

form {
    text-align: center;
    padding: 20px;
}

h2 {
    width: 40%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #1d4463;
}

